@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GyeonggiBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

section {
  @apply py-10 px-5 h-full text-center flex flex-col justify-between;
}

/* .title {
  @apply text-2xl font-bold;
}

.content {
  @apply text-lg;
}

.invitation-content {
  @apply text-sm;
} */
